doctype
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel='icon', type='image/png', sizes='32x32', href='/img/server-icon.png')

        title GoFlux.pl - 400 Bad Request.
    body(style="background-color: #161a21; color: #495057; font-family: 'Arial', sans-serif; font-size: 1.2em; text-align: center; justify-content: center; align-items: center; align-content: center; position: relative;")
        h1 400 Bad Request.
        p Nieprawidłowe żądanie. Spróbuj ponownie.
        a(href="/" style="color: #007bff; text-decoration: none;") Strona główna